[submodule "third_party/drogon"]
	path = third_party/drogon
	url = https://github.com/drogonframework/drogon
[submodule "third_party/bcrypt"]
	path = third_party/bcrypt
	url = https://github.com/kelektiv/node.bcrypt.js
[submodule "third_party/jwt-cpp"]
	path = third_party/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp
[submodule "third_party/stduuid"]
	path = third_party/stduuid
	url = https://github.com/mariusbancila/stduuid
